# root
std_out.txt

# datasets
broden1_227
pascal_part
datasets/*.txt
ms_coco

# models
pre-models

# output
output/

# utils COCOApi system-based files
utils/cocoapi/PythonAPI/pycocotools/_mask.c
utils/cocoapi/PythonAPI/pycocotools/*.so

# test
# ignore all sub-folders
test/*/*

# python cache
__pycache__
